<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Red Team Portfolio</title>
  </head>
  <body>
    <h1>Welcome to my portfolio!</h1>
    <p>
      This is an opportunity for me to learn Python and show some of my progress
      in the Cybersecurity world.

      <p>If you want to know more about me, check out my About page <a href="/about">here</a>!</p>
    </p>
  </body>
</html>
